extends _layouts/base

include _modules/link/link

block content
  .container
    #[+link({text: 'documentation'})(href='/contact')]
    #[+link({text: 'documentation/2'})(href='/contact/2')]
    
    section(id="clients-list")
      div.search
        input(type="text")
        button(type="button") Buscar
      ul

  code.version v1.5.2
